<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <a href="#" class="navbar-brand"><i class="fa fa-cube"></i>Class<b>Room</b></a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
      <form class="navbar-form form-inline">
        <div class="input-group search-box">
          <input type="text" id="search" class="form-control" placeholder="Search here...">
          <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
        </div>
      </form>
      <div class="navbar-nav ml-auto">
        <a href="/home" class="nav-item nav-link active"><i class="fa fa-home"></i><span>Trang chủ</span></a>
        <a href="/document" class="nav-item nav-link"><i class="fa fa-gears"></i><span>Giới thiệu</span></a>
        <a href="/courses" class="nav-item nav-link"><i class="fa fa-book"></i><span>Khoá học</span></a>
        <a href="teacher" class="nav-item nav-link"><i class="fa fa-users"></i><span>Giảng viên</span></a>
        <a href="coursesRoute" class="nav-item nav-link"><i class="fa fa-car"></i><span>Lộ trình</span></a>
        <a href="/contact" class="nav-item nav-link"><i class="fa fa-envelope"></i><span>Liên lạc</span></a>
        <a href="/help" class="nav-item nav-link"><i class="fa fa-bell"></i><span>Hướng dẫn</span></a>
        <div class="nav-item dropdown">
          <a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle user-action"><img
              src="../../img/hinh1.jpg" class="avatar" alt="Avatar"> LongPham <b class="caret"></b></a>
          <div class="dropdown-menu">
            <a href="/signIn" class="dropdown-item"><i class="fa fa-user-o"></i> Đăng nhập</a>
            <div class="divider dropdown-divider"></div>
            <a href="#" class="dropdown-item"><i class="material-icons">&#xE8AC;</i> Logout</a>
          </div>
        </div>
      </div>
    </div>
  </nav>