<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <a href="#" class="navbar-brand"><i class="fa fa-cube"></i>Class<b>Room</b></a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
      <form class="navbar-form form-inline" action="/user/courses" method = "post">
        <div class="input-group search-box">
          <input type="text" id="search" class="form-control" name="keyWord" placeholder="Search here...">
          
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="material-icons">&#xE8B6;</i></button>
        </div>
      </form>
      <div class="navbar-nav ml-auto">
        <a href="/user/home" class="nav-item nav-link active"><i class="fa fa-home"></i><span>Trang chủ</span></a>
        <a href="/user/document" class="nav-item nav-link"><i class="fa fa-gears"></i><span>Giới thiệu</span></a>
        <a href="/user/courses" class="nav-item nav-link"><i class="fa fa-book"></i><span>Khoá học</span></a>
        <a href="/teacher" class="nav-item nav-link"><i class="fa fa-users"></i><span>Giảng viên</span></a>
        <a href="/user/coursesRoute" class="nav-item nav-link"><i class="fa fa-car"></i><span>Lĩnh vực</span></a>
        <a href="/user/contact" class="nav-item nav-link"><i class="fa fa-envelope"></i><span>Liên lạc</span></a>
        <a href="/user/help" class="nav-item nav-link"><i class="fa fa-bell"></i><span>Hướng dẫn</span></a>
           <a class="nav-item nav-link" href="/buyer/cart" aria-disabled="true">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <span>Giỏ hàng</span> <span class="badge badge-light" id="cart-badge"> 1</span>
            </a>
        <div class="nav-item dropdown">

          <a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle user-action"><img
              src="../../public/img/hinh1.jpg" class="avatar" alt="Avatar"> LongPham <b class="caret"></b></a>
          <div class="dropdown-menu">
            <a href="/signIn" class="dropdown-item"><i class="fa fa-user-o"></i> Đăng nhập</a>
            <div class="divider dropdown-divider"></div>
            <a href="#" class="dropdown-item"><i class="material-icons">&#xE8AC;</i> Đăng xuất</a>
          </div>
         
        </div>
        
      </div>
    </div>
  </nav>