<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin/dashboad">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3"><img style="height: 30px; width:30px; border-radius: 90%;"
                    src="../../public/img/hinh1.jpg" class="avatar" alt="Avatar">Admin: &nbsp;<strong>Huy</strong></div>
                 
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/admin/dashboad">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Trang chủ</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="/admin/course">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Khóa học</span></a>
            </li>
           
           
            <li class="nav-item">
                <a class="nav-link" href="/admin/teacher">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Tài khoản giáo viên</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/admin/user">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Tài khoản học sinh</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/admin/category">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Lĩnh vực</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/admin/chart">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Thống kê</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <li class="nav-item">
                <form id="frmLogout" action="/admin/logout" method="POST"></form>
                    <a href="javascript: $('#frmLogout').submit();" class="dropdown-item">
                         <i class="fas fa-sign-out-alt"></i>
                    <span>Đăng xuất</span></a></a>
                </form>
            </li>
            
            

            

        </ul>