<!doctype html>
<html lang="en">

<head>
  <title>Online Courses</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
  <link rel="stylesheet" href="../../public/assets/bootstrap-4.5.3-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../public/assets/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css" />
  <link rel="stylesheet" href="../../public/assets/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css" />

  
  <link rel="stylesheet" href="../../public/css/style.css">
  {{{_sections.css}}}
</head>

<body>

  {{{body}}}
  
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="../../public/assets/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
    <script src="../../public/assets/OwlCarousel2-2.3.4/dist/owl.carousel.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="../../public/assets/bootstrap-4.5.3-dist/js/bootstrap.min.js"></script>
    
    
    {{{_sections.js}}}
    <script src="../../public/js/app.js"></script>
</body>

</html>