<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết khoá học</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="../assets/bootstrap-4.5.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="../assets/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css" />
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <!-- navbar header-->
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
        <a href="#" class="navbar-brand"><i class="fa fa-cube"></i>Class<b>Room</b></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collection of nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
            <form class="navbar-form form-inline">
                <div class="input-group search-box">
                    <input type="text" id="search" class="form-control" placeholder="Search here...">
                    <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
                </div>
            </form>
            <div class="navbar-nav ml-auto">
                <a href="./TrangChu.html" class="nav-item nav-link"><i class="fa fa-home"></i><span>Trang chủ</span></a>
                <a href="./Gioi thieu.html" class="nav-item nav-link"><i class="fa fa-gears"></i><span>Giới
                        thiệu</span></a>
                <a href="./khoahoc.html" class="nav-item nav-link"><i class="fa fa-book"></i><span>Khoá học</span></a>
                <a href="./GiangVien.html" class="nav-item nav-link"><i class="fa fa-users"></i><span>Giảng
                        viên</span></a>
                <a href="./LoTrinh.html" class="nav-item nav-link   active"><i class="fa fa-car"></i><span>Lộ
                        trình</span></a>
                <a href="./LienLac.html" class="nav-item nav-link"><i class="fa fa-envelope"></i><span>Liên
                        lạc</span></a>
                <a href="./HuongDan.html" class="nav-item nav-link"><i class="fa fa-bell"></i><span>Hướng dẫn</span></a>
                <div class="nav-item dropdown">
                    <a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle user-action"><img
                            src="../img/hinh1.jpg" class="avatar" alt="Avatar"> LongPham <b class="caret"></b></a>
                    <div class="dropdown-menu">
                        <a href="./DangNhap.html" class="dropdown-item"><i class="fa fa-user-o"></i> Đăng nhập</a>
                        <a href="#" class="dropdown-item"><i class="fa fa-calendar-o"></i> Calendar</a>
                        <a href="#" class="dropdown-item"><i class="fa fa-sliders"></i> Settings</a>
                        <div class="divider dropdown-divider"></div>
                        <a href="#" class="dropdown-item"><i class="material-icons">&#xE8AC;</i> Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
        <!-- -----------Content------------ -->
        <section class="content">
            <div class="container">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="./TrangChu.html" title="Trang chủ"><i class="fa fa-home"></i></a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="./khoahoc.html" title="Khoá học">&nbsp; Khoá học</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="./ChiTietKhoaHoc.html" title="Chi tiết khoá học">&nbsp; Xây dựng ASP .net</a>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-md-5">
                        <div class="sidebar-course-intro">
                            <div class="video-course-intro">
                                <div class="inner">
                                    <div class="video-place">
                                        <div class="img-thumb">
                                            <input type="hidden" id="hidCoursesId" value="40">
                                            <input type="hidden" id="hidDemoPath" value>
                                            <img  style="width: 100%;" src="../img/java.png" title="Xây dựng trang web" alt="Xây dựng trang web">
                                        </div>
                                        <div class="awe-overlay"></div>
                                        <a href="#" id="btnViewDemo" title="Xem video" class="play-icon">
                                            <i class="fa fa-play"></i>
                                        </a>
                                    </div>
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="" allowfullscreen></iframe>
                                      </div>
                                </div>
                                <div class="price">
                                    <span class="from">Học phí: </span>
                                    <span class="amount">1.500.000</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="producttab">
                            <div class="tabsslider">
                               <div class="nav-tabs-wrap">
                                   <ul class="nav nav-tabs" role="tablist">
                                       <li class="nav-item">
                                           <a href="#introduction" role="tab" data-toggle="tab">
                                               Nội dung
                                           </a>
                                       </li>
                                       <li class="nav-item">
                                           <a href="#teacher" role="tab" data-toggle="tab">Giảng viên</a>
                                       </li>
                                       <li class="nav-item">
                                         <a href="#outline" role="tab" data-toggle="tab">Video</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#review" role="tab" data-toggle="tab">Đánh giá</a>
                                        </li>
                                   </ul>
                               </div> 

                               <div class="tab-content">
                                   <div class="tab-pane fade in active show" id="introduction">
                                       <h4 class="sm black bold">Giới thiệu</h4>
                                       <p>Khoá học này mình giới thiệu cho bạn về Angular</p>
                                       <p>Khoá học này mình giới thiệu cho bạn về Angular</p>
                                       <p>Khoá học này mình giới thiệu cho bạn về Angular</p>
                                       <p>Khoá học này mình giới thiệu cho bạn về Angular</p>
                                       <p>&nbsp;</p>
                                   </div>

                                   <div class="tab-pane fade" id="teacher">
                                    <h4 class="sm black bold">Giảng viên</h4>
                                    <p>Phạm Đình Long Senier 1</p>
                                    <p>Khoá học này mình giới thiệu cho bạn về Angular</p>
                                    <p>Khoá học này mình giới thiệu cho bạn về Angular</p>
                                    <p>Khoá học này mình giới thiệu cho bạn về Angular</p>
                                    <p>&nbsp;</p>
                                     </div>

                                <div class="tab-pane fade" id="outline">
                                    <h4 class="sm black bold">Video</h4>
                                    <p>Khoá học này mình giới thiệu cho bạn về Angular</p>
                                    <p>Khoá học này mình giới thiệu cho bạn về Angular</p>
                                    <p>Khoá học này mình giới thiệu cho bạn về Angular</p>
                                    <p>Khoá học này mình giới thiệu cho bạn về Angular</p>
                                    <p>&nbsp;</p>
                                </div>

                                <div class="tab-pane fade" id="review">
                                    <h4 class="sm black bold">Đánh giá</h4>
                                    <p>Khoá học này mình giới thiệu cho bạn về Angular</p>
                                    <p>Khoá học này mình giới thiệu cho bạn về Angular</p>
                                    <p>Khoá học này mình giới thiệu cho bạn về Angular</p>
                                    <p>Khoá học này mình giới thiệu cho bạn về Angular</p>
                                    <p>&nbsp;</p>
                                </div>
                               </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="../assets/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
<script src="../assets/OwlCarousel2-2.3.4/dist/owl.carousel.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="../assets/bootstrap-4.5.3-dist/js/bootstrap.min.js"></script>
<script src="../app.js"></script>

</html>