{{> header}}
<!-- -----------Content------------ -->
<section class="content">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../public/teacher/css/index.css">
  <link rel="stylesheet" href="../../public/teacher/css/profile.css">
  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
      <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
          <i class="fa fa-bars"></i>
          <span class="sr-only">Toggle Menu</span>
        </button>
      </div>
      <div class="p-4">
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="/teacher"><span class="fa fa-home mr-3"></span>Trang giáo viên</a>
          </li>
          <li>
              <a href="/teacher/profile"><span class="fa fa-user mr-3"></span>Hồ sơ giáo viên</a>
          </li>
          <li>
            <a href="/teacher/my-course"><span class="fa fa-briefcase mr-3"></span>Khóa học của tôi</a>
          </li>
          <li>
            <a href="/teacher/chart"><span class="fa fa-pie-chart mr-3"></span>Chart</a>
          </li>
          <li>
            <a href="/teacher/help"><span class="fa fa-question-circle mr-3"></span>Trợ giúp</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-cogs mr-3"></span>Cài đặt</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-paper-plane mr-3"></span>Thông tin liên hệ</a>
          </li>
        </ul>


      </div>
    </nav>

      <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5">
      <h2>Trợ giúp</h2>
      <div class="row" style="margin-top:50px;">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <div class="caption">
              <h3>Cách dạy</h3>
              <img src="https://sites.google.com/a/netcmmi.com/share/_/rsrc/1390298002895/img/png/b/book-d16.png" alt="">
              <p>Tìm những bài báo, bài viết nói về cách giảng dạy trên classroom</p>
              <p><a href="#" class="btn btn-primary" role="button">Truy cập</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <div class="caption">
              <h3>Diễn đàn</h3>
              <img src="https://image.flaticon.com/icons/png/128/1828/1828960.png" alt="">
              <p>Cùng nhau chia sẻ kinh nghiệm giảng dạy và hỏi những giáo viên khác trong cộng đồng của chúng ta</p>
              <p><a href="#" class="btn btn-primary" role="button">Truy cập</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <div class="caption">
              <h3>Trợ giúp</h3>
              <img src="https://image.flaticon.com/icons/png/128/1660/1660114.png" alt="">
              <p>Nhận sự tư vấn trực tiếp của nhân viên chúng tôi nếu bạn có thắc mắc về các vấn đề về hệ thống</p>
              <p><a href="#" class="btn btn-primary" role="button">Truy cập</a>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
<script src="../../public/teacher/js/jquery.min.js"></script>
<script src="../../public/teacher/js/popper.js"></script>
<script src="../../public/teacher/js/bootstrap.min.js"></script>
<script src="../../public/teacher/js/index.js"></script>
{{> footer}}
