{{> header}}
<!-- -----------Content------------ -->
<section class="content">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../public/teacher/css/index.css">
  <link rel="stylesheet" href="../../public/teacher/css/profile.css">
  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
      <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
          <i class="fa fa-bars"></i>
          <span class="sr-only">Toggle Menu</span>
        </button>
      </div>
      <div class="p-4">
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="/teacher"><span class="fa fa-home mr-3"></span>Trang giáo viên</a>
          </li>
          <li>
              <a href="/teacher/profile"><span class="fa fa-user mr-3"></span>Hồ sơ giáo viên</a>
          </li>
          <li>
            <a href="/teacher/my-course"><span class="fa fa-briefcase mr-3"></span>Khóa học của tôi</a>
          </li>
          <li>
            <a href="/teacher/chart"><span class="fa fa-pie-chart mr-3"></span>Chart</a>
          </li>
          <li>
            <a href="/teacher/help"><span class="fa fa-question-circle mr-3"></span>Trợ giúp</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-cogs mr-3"></span>Cài đặt</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-paper-plane mr-3"></span>Thông tin liên hệ</a>
          </li>
        </ul>


      </div>
    </nav>

      <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5">
      <div class="row">
    		<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
        	 <div class="well profile">
                <div class="col-sm-12">
                    <div class="col-xs-12 col-sm-8">
                        <h2>Nguyễn Văn A</h2>
                        <p><strong>Chuyên: </strong> Web Designer / UI. </p>
                        <p><strong>Sở thích: </strong>Ăn chơi đàn sáo </p>
                        <p><strong>Kĩ năng: </strong>
                            <span class="tags">html5</span>
                            <span class="tags">css3</span>
                            <span class="tags">jquery</span>
                            <span class="tags">bootstrap3</span>
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-4 text-center">
                        <figure>
                            <figcaption class="ratings">
                                <p>Đánh giá
                                <a href="#">
                                    <span class="fa fa-star"></span>
                                </a>
                                <a href="#">
                                    <span class="fa fa-star"></span>
                                </a>
                                <a href="#">
                                    <span class="fa fa-star"></span>
                                </a>
                                <a href="#">
                                    <span class="fa fa-star"></span>
                                </a>
                                <a href="#">
                                     <span class="fa fa-star-o"></span>
                                </a>
                                </p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
        	 </div>
    		</div>
    	</div>
    </div>
  </div>
</section>
<script src="../../public/teacher/js/jquery.min.js"></script>
<script src="../../public/teacher/js/popper.js"></script>
<script src="../../public/teacher/js/bootstrap.min.js"></script>
<script src="../../public/teacher/js/index.js"></script>
{{> footer}}
