
{{> header}}
    <!---Content-->
    <section class="content">
        <div class="container">
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/home" title="Trang chủ"><i class="fa fa-home"></i></a>
                </li>
                <li class="breadcrumb-item">
                    <a href="/courses" title="Khoá học">&nbsp; Khoá học</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#" title="Chi tiết khoá học">&nbsp; Xây dựng ASP .net</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#" title="Angular bài 01">&nbsp; Angular bài 01</a>
                </li>
            </ul>
            <div class="row">
                <div class="col-md-5">
                    <div class="sidebar-course-intro">
                        <div class="video-course-intro">
                            <div class="inner">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <!-- <iframe class="embed-responsive-item" src="https://youtu.be/uTmzlfIvIlg" allowfullscreen></iframe> -->
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/q8RdFZw-gjo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                            </div>
                            <div class="price">
                                <span class="from">Học phí: </span>
                                <span class="amount">1.500.000</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="producttab">
                        <div class="tabsslider">
                            <div class="nav-tabs-wrap">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a href="#resrc" role="tab" data-toggle="tab">Khoá học</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#review" role="tab" data-toggle="tab">Đánh giá</a>
                                    </li>
                                </ul>
                            </div> 

                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="resrc">
                                <h5 class="tit-section sxm">Nội dung khoá học</h5>
                                
                                <ul class="list-group" role="tablist">
                                    <li class="list-group-item color">
                                        <a href="#" role="tab" data-toggle="tab"> Bài 01: Giới thiệu Angular</a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="#" role="tab" data-toggle="tab"> Bài 02: Giới thiệu Angular</a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="#" role="tab" data-toggle="tab"> Bài 03: Giới thiệu Angular</a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="#" role="tab" data-toggle="tab"> Bài 04: Giới thiệu Angular</a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="#" role="tab" data-toggle="tab"> Bài 05: Giới thiệu Angular</a>
                                    </li>
                                  </ul>

                                <p>&nbsp;</p>
                            </div>

                            <div class="tab-pane fade" id="review">
                                <h4 class="sm black bold">Đánh giá</h4>
                                <p>Khoá học này mình giới thiệu cho bạn về Angular</p>
                                <p>Khoá học này mình giới thiệu cho bạn về Angular</p>
                                <p>Khoá học này mình giới thiệu cho bạn về Angular</p>
                                <p>Khoá học này mình giới thiệu cho bạn về Angular</p>
                                <p>&nbsp;</p>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{> footer}}