{{> header}}
  <!--Content -->
  <section class="content">
    <div class="container">
      <ul class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/home" title="Trang chủ"><i class="fa fa-home"></i></a>
        </li>
        <li class="breadcrumb-item">
          <a href="/courses" title="Khoá học">&nbsp; Giới thiệu</a>
        </li>
      </ul>

      <!--  -->
      <div class="row">
        <!-- BLOG LIST -->
        <div class="col-md-12">
          <div class="blog-single-content">
            <!-- POST -->
            <div class="post post-single">


              <div class="post-content">
                <h2>
                  Nguồn gốc
                </h2>
                <p>OC là từ viết tắt của Online-courses, là một thương hiệu được xây dựng bắt đầu từ kênh dào
                  tạo trực tuyến trên Youtube dưới dạng vBlog chia sẻ các video về thủ thuật và khóa học công nghệ miễn
                  phí cho mọi người.</p>
                <p>Được thành lập và bắt đầu chia sẻ từ cuối năm 2020 dưới tên MySkills tuy nhiên sau gần 5 năm không
                  phát triển thêm gì. Đến tháng 04/2015, tôi Phạm Đình Long quyết định đổi tên kênh thành Online-courses với ý
                  nghĩa và tầm nhìn mới nhằm xây dựng một cộng đồng chia sẻ kiến thức và kỹ năng lập trình cho tất cả
                  mọi người.</p>
                <h2>
                  Mục tiêu
                </h2>
                <p>Mục tiêu của Online-courses là đưa đến cho các bạn có niềm đam mê học lập trình một nơi để học tập, và trao đổi
                  về các chủ đề công nghệ. Giúp xây dựng một cộng đồng Online-courses lớn mạnh mang lại thật nhiều giá trị cho xã
                  hội. Giúp các bạn lập trình viên mới vào nghề rút ngắn thời gian tiếp cận với công việc thực tế tạo ra
                  giá trị cho doanh nghiệp và cho đất nước.</p>
                <p>
                  Để phát triển được một nền CNTT cái quan trọng nhất là con người. Vậy chúng tôi tập trung vào con
                  người vì mục tiêu 1 triệu lập trình viên cho Việt Nam vào năm 2020.
                </p>
                <h2>
                  Giá trị cốt lõi
                </h2>
                <p>Giá trị cốt lõi của Online-courses chính là giá trị kiến thức và kỹ năng mang lại cho mỗi thành viên của mình
                  làm điều kiện tiên quyết trong tất cả các hoạt động của Online-courses. Online-courses sẽ luôn lao động không ngừng nghỉ
                  để nâng cao giá trị đó.</p>
                <h2>
                  Chiến lược phát triển
                </h2>
                <p>Định hướng phát triển là trở thành một kênh đào tạo trực tuyến có uy tín là cầu nối cho doanh nghiệp
                  và các bạn làm nghề. Giúp tăng khả năng cạnh tranh cho các bạn lập trình viên và điều cuối cùng là hỗ
                  trợ xây dựng một nền CNTT phát triển tốt cho Việt Nam.</p>
                <p style="text-align: right">
                  HCM, ngày 16 tháng 01 năm 2020<br />
                  Sáng lập Online-courses: Phạm Đình Long
                </p>
              </div>
              <div class="share-tags">
                <div class="share-box">
                  <h6>Chia sẻ</h6>
                </div>
                <div class="clear"></div>
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_native_toolbox"></div>

                <div class="clear"></div>
                <div id="fb-root"></div>
                
                <div class="fb-comments" data-href="/gioi-thieu.html" data-numposts="5"></div>
              </div>
            </div>
            <!-- END / POST -->

          </div>
        </div>
        <!-- END / BLOG LIST -->
      </div>
      <!--  -->
    </div>

  </section>

{{> footer}}