
 {{> header}}
    <!---Content--->
    <section class="content">
        <div class="container">
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/home" title="Trang chủ"><i class="fa fa-home"></i></a>
                </li>
                <li class="breadcrumb-item">
                    <a href="/document" title="Hướng dẫn khoá học">&nbsp; Hướng dẫn</a>
                </li>
            </ul>

            <div class="row">
                <div class="col-md-3">
                    <aside class="sidebar-categories">
                        <div class="module">
                            <h3 class="modtitle">
                                <span>Khoá học mới nhất</span>
                            </h3>
                            <ul class="list-group">
                                <li class="list-group-item"><a href="#" title="Xây dựng dự án ASP">Xây dựng ASP dotnet core</a>
                                </li>
                                <li class="list-group-item"><a href="#" title="Học làm quen với Angular">Làm quen angular</a></li>
                                <li class="list-group-item"><a href="#" title="Tìm hiểu về MongDB">Tìm hiểu về MongDB</a></li>
                                <li class="list-group-item"><a href="#" title="Nodejs">Nodejs cho người mới học</a></li>
                            </ul>
                        </div>

                        <div class="module">
                            <h3 class="modtitle">
                                <span>Bài viết mới nhất</span>
                            </h3>
                            <ul class="list-group">
                                <li class="list-group-item"><a href="#" title="Giảm 50% cho khách hàng VIP">Giảm giá 50%</a>
                                </li>
                                <li class="list-group-item"><a href="#" title="Làm sao làm việc nhóm tốt">Làm việc nhóm</a></li>
                                <li class="list-group-item"><a href="#" title="Các định hướng cho IT">Định Hướng IT</a></li>
                                <li class="list-group-item"><a href="#" title="7 Điều cần học">7 Điều cần học</a></li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <div class="col-md-9">
                    <div class="blog-single-content">
                        <div class="post post-single">
                            <div class="post-content">
                                <h2>HƯỚNG DẪN THAM GIA KHOÁ HỌC</h2>
                                <p>Khoá học của chung tôi là khoá học trực tuyến từ cơ bản đến nâng cao cho tất cả mọi người từ chứa biết đến master. Sau đây là cách đăng kí khoá học:</p>
                                <p>
                                    <img style="max-width: 100%;" alt="..." src="../../public/img/HuongDan.jpg">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{{> footer}}