
{{> header}}
    <!-- -----------Content------------ -->
    <section class="content">
        <div class="container">
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="./TrangChu.html" title="Trang chủ"><i class="fa fa-home"></i></a>
                </li>
                <li class="breadcrumb-item">
                    <a href="./GiangVien.html" title="Khoá học">&nbsp; Giảng viên</a>
                </li>
            </ul>

            <div class="row">
                <div class="col-md-3">
                    <aside class="sidebar-categories">
                        <div class="module">
                            <h3 class="modtitle">
                                <span>Danh mục bài viết</span>
                            </h3>
                            <ul class="list-group">
                                <li class="list-group-item"><a href="#" title="Khoá học đề xuất">Giới thiệu</a>
                                </li>
                                <li class="list-group-item"><a href="#" title="Khoá học yêu thích">ASP dotnet</a></li>
                                <li class="list-group-item"><a href="#" title="Khoá học hot">JQuery</a></li>
                                <li class="list-group-item"><a href="#" title="Khoá học free">Mysql</a></li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <div class="col-md-9">
                    <div class="blog-list-content">
                        <div class="post">
                            <div class="post-media">
                                <div class="image-thumb">
                                    <img src="../../img/king.jpg"  style="max-width: 100%;" title="Pham Dinh Long" alt="phamdinhlong">
                                </div>
                            </div>
                            <div class="post-body">
                                <div class="post-title">
                                    <h3 class="md">
                                        <a href="#" title="Phạm Đình Long">Phạm Đình Long</a>
                                    </h3>
                                </div>
                                <div class="post-content">
                                    <p>Senior .net</p>
                                </div>
                                <div class="post-link">
                                    <a href="#" title="Phạm Đình Long"><i class="fa fa-play-circle-o"></i> Xem thêm</a>
                                </div>
                            </div>
                        </div>

                        <div class="post">
                            <div class="post-media">
                                <div class="image-thumb">
                                    <img src="../../img/king.jpg"  style="max-width: 100%;" title="Pham Dinh Long" alt="phamdinhlong">
                                </div>
                            </div>
                            <div class="post-body">
                                <div class="post-title">
                                    <h3 class="md">
                                        <a href="#" title="Phạm Đình Long">Phạm Đình Long</a>
                                    </h3>
                                </div>
                                <div class="post-content">
                                    <p>Senior .net</p>
                                </div>
                                <div class="post-link">
                                    <a href="#" title="Phạm Đình Long"><i class="fa fa-play-circle-o"></i> Xem thêm</a>
                                </div>
                            </div>
                        </div>

                        <div class="post">
                            <div class="post-media">
                                <div class="image-thumb">
                                    <img src="../../img/king.jpg"  style="max-width: 100%;" title="Pham Dinh Long" alt="phamdinhlong">
                                </div>
                            </div>
                            <div class="post-body">
                                <div class="post-title">
                                    <h3 class="md">
                                        <a href="#" title="Phạm Đình Long">Phạm Đình Long</a>
                                    </h3>
                                </div>
                                <div class="post-content">
                                    <p>Senior .net</p>
                                </div>
                                <div class="post-link">
                                    <a href="#" title="Phạm Đình Long"><i class="fa fa-play-circle-o"></i> Xem thêm</a>
                                </div>
                            </div>
                        </div>

                        <div class="post">
                            <div class="post-media">
                                <div class="image-thumb">
                                    <img src="../../img/king.jpg"  style="max-width: 100%;" title="Pham Dinh Long" alt="phamdinhlong">
                                </div>
                            </div>
                            <div class="post-body">
                                <div class="post-title">
                                    <h3 class="md">
                                        <a href="#" title="Phạm Đình Long">Phạm Đình Long</a>
                                    </h3>
                                </div>
                                <div class="post-content">
                                    <p>Senior .net</p>
                                </div>
                                <div class="post-link">
                                    <a href="#" title="Phạm Đình Long"><i class="fa fa-play-circle-o"></i> Xem thêm</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
 {{> footer}}
